{% extends 'base.html.twig' %}

{% block title %}Marques{% endblock %}

{% block body %}

    <h3>Inscrivez votre marque de motos</h3>

    {{ form(formView)}}

    <a href="{{path('marque_index')}}" class="btn btn-primary">Retour à la liste</a>

{% endblock %}
