{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}
        <h1 class="primary d-flex justify-content-center mt-5">Bienvenue sur votre site de balades en motos</h1>

        <p class="d-flex justify-content-center mt-5 container col-10">
Bienvenue sur notre site, votre destination incontournable pour découvrir les plus belles routes et itinéraires pour vos balades en moto. Que vous soyez un motard passionné de longues virées panoramiques ou un aventurier en quête de sentiers sinueux, notre site est conçu pour satisfaire toutes vos envies de liberté sur deux roues. Nous proposons une vaste sélection de circuits détaillés, des côtes ensoleillées aux montagnes escarpées, en passant par les campagnes paisibles et les forêts mystérieuses. Chaque itinéraire est accompagné de conseils pratiques, de points d'intérêt incontournables et de recommandations d'arrêt pour profiter pleinement de chaque escapade. Rejoignez notre communauté de motards, partagez vos propres parcours et découvrez des suggestions personnalisées pour vos prochaines aventures. MotoBalades.com, c'est la promesse de voyages inoubliables et de sensations uniques à chaque virage. Montez en selle et laissez-vous guider par notre passion commune pour la moto.</p>
{% endblock %}

